{% extends "website/base.html" %} {% block content %}
<script src="/static/js/data-upload.js" defer></script>
<div class="w-full mt-16"></div>
<form id="data-upload" class="flex flex-col gap-2 text-black">
  <label class="text-white" for="file">Upload a file:</label>
  <input id="file-input" type="file" id="file" name="file" required />
  <div>
    <label class="text-white" for="protected">Protected:</label>
    <input id="protected-input" type="checkbox" id="protected" name="protected" />
  </div>
  <button class="p-2 text-gray-900 bg-yellow-500 rounded-sm shadow hover:bg-yellow-600" type="submit">Upload</button>
</form>
{% endblock content%}
